.imageContainer {
  background-image: url("../public/assets/images/home-image.jpg");
  height: 15rem;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.photoByText p {
  margin: 0px;
  direction: ltr;
}

.photoByText {
  margin: 0px;
  position: absolute;
  bottom: 2px;
  left: 3px;
  color: rgba(255, 255, 255, 0.603);
  font-size: 00.4rem;
  font-family: "ui-rounded";
}

.introductionSection {
  margin: 8px auto;
  width: clamp(300px, 90%, 1000px);
}

.introductionText {
  text-align: justify;
  font-size: 0.5rem;
  transition: all 0.8s l;
  margin: 0px;
}

.introductionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introductionTitle > * {
  border-radius: 50%;
  height: 2rem;
  width: auto;
  margin: 0px;
  filter: grayscale(100%);
  transition: all 0.5s ease-in;
}
.introductionTitle > img:hover {
  filter: grayscale(0%);
  height: 5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
