.imageContainer {
  background-image: url("../public/assets/images/home-image.jpg");
  height: 15rem;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.photoByText p {
  margin: 0px;
  direction: ltr;
}

.photoByText {
  margin: 0px;
  position: absolute;
  bottom: 2px;
  left: 3px;
  color: rgba(255, 255, 255, 0.603);
  font-size: 00.4rem;
  font-family: "ui-rounded";
}

.introductionSection {
  margin: 8px auto;
  width: clamp(300px, 90%, 1000px);
}

.introductionText {
  text-align: justify;
  font-size: 0.5rem;
  transition: all 0.8s l;
  margin: 0px;
}

.introductionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introductionTitle > * {
  border-radius: 50%;
  height: 2rem;
  width: auto;
  margin: 0px;
  filter: grayscale(100%);
  transition: all 0.5s ease-in;
}
.introductionTitle > img:hover {
  filter: grayscale(0%);
  height: 5rem;
}

.sectionCardRoot {
  min-width: 240px;
  max-width: 400px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 16px;
}

.sectionCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1200px) {
  .sectionCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 8px;
  }
  .sectionCardRoot {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .sectionCards {
    display: flex;
    flex-direction: column;
  }
}
