@media screen and (max-width: 600px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
  }
  .aboutMeSection {
    width: 100% !important;
    display: flex;
  }

  .aboutMeSection > img {
    max-width: 300px;
  }
  .aboutMeTexts {
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(
      360deg,
      rgb(0 0 0 / 15%) 0%,
      rgb(255 255 255 / 0%) 100%
    ) !important;
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    color: black !important;
  }
  .emailAddress {
    font-size: clamp(4vw, 16px, 20px) !important;
  }
}

.root {
  display: flex;
}

.aboutMeSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.aboutMeSection > img {
  width: 85%;
  padding: 4px;
  border-radius: 50%;
  border: 10px solid black;
  margin-bottom: -50%;
  z-index: 1;
}

.aboutMeTexts {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  padding-top: 50%;
  background-color: black;
  color: white;
}
.aboutMeTexts > h4 {
  text-align: center;
}
.aboutMeTexts > p {
  font-size: small;
  text-align: justify;
  text-justify: inter-word;
}

.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.contactMe > div {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contactMe > div > svg {
  margin-left: 8px;
}

.hintText > SVG {
  margin-left: 4px;
}

.hintText {
  font-size: x-small;
  background-color: black;
  color: white;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.historySection > h4 {
  margin-top: 30px;
  margin-bottom: 0px;
}
.historySection > ul {
  margin-top: 10px;
}
.emailAddress {
  font-size: clamp(60%, 12px, 20px);
}
